<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number of Views Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div style="width: 80%; margin: auto;">
    <canvas id="viewsChart"></canvas>
</div>


<script>
    fetch('/views/allByMmDma?dateFrom=2021-07-21&dateTo=2021-07-22&mmDma=510')
        .then(response => response.json())
        .then(data => {
            console.log(data);
            var ctx = document.getElementById('viewsChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: Array.from({ length: data.length }, (_, i) => i + 1),
                    datasets: [{
                        label: 'Number of Views',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        data: data,
                    }]
                }
            });
        });
</script>
</body>
</html>
